.wrapper {
    margin-top: 84px;
    margin-bottom: 104px;
    display: flex;
    justify-content: center;
    gap: 72px;
}

.wrapperImgForm {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.image {
    border-radius: 19px;
    width: 640px;
    height: 512px;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 110px;
}

