.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.carsList {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  padding: 0;
  list-style: none;
  max-width: 1200px;
  margin: 0;
  margin-bottom: 80px;

}