.card {
    width: 276px;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 14px;
    overflow: hidden;
}

.favBtn {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 2;
    outline: none;   
}


.favBtn:focus {
  outline: none;
  box-shadow: none;
}


.heartIcon {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.2s ease;
}

.heartIcon:hover {
  color: #3470ff;
}

.heartIconActive {
  font-size: 24px;
  color: #3470ff;
}


.image {
    border-radius: 14px;
    width: 276px;
    height: 268px;
    object-fit: cover;

}

.header {
    display: flex;
    justify-content: space-between;
    padding-right: 11px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.name {
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
}

.spanModel {
    color: #3470ff;
}

.details {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    color: #8d929a;
}

.typeMileage {
    margin-top: 4px;
    margin-bottom: 4px;
}


.readMore {
    font-family: "Manrope", sans-serif;
    background: #3470ff;
    border-radius: 12px;
    width: 276px;
    height: 44px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 28px;
    cursor: pointer
}

.readMore:hover {
    background: #0b44cd;
    color: #fff;
}

.readMore:focus {
    outline: none;
}