.loadMoreBtn {
    font-family: "Manrope", sans-serif;
    border: 1px solid #3470ff;
    border-radius: 12px;
    width: 156px;
    height: 44px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
    margin-bottom: 124px;
    cursor: pointer
}

.loadMoreBtn:hover {
    border: 1px solid #0b44cd;
}

.loadMoreBtn:focus {
  outline: none;
}

