.filtersForm {
    margin-top: 68px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0;
}


.label {
    margin-bottom: 8px;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    color: var(--gray);
}

.mileageInputs {
    display: flex;
    border-radius: 12px;

    overflow: hidden;
}

.mileageInputGroup {
    max-width: 160px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 12px 12px 0;
    background-color: var(--inputs);

    &:first-child {
        border-right: 1px solid var(--gray-light);
        border-radius: 12px 0 0 12px;
    }
}

.mileageLabel {
    margin-right: 4px;
}

.input {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
    width: 70px;
    border: none;
    outline: none;
    background-color: transparent;
}

.btnContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.button {
    min-width: 156px;
    height: 44px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--button);
    border: none;
    outline: none;
    border-radius: 12px;
    transition: background-color var(--time) var(--cubic);

    &:hover,
    &:focus {
        background-color: var(--button-hover);
    }

    &:disabled {
        background-color: var(--gray-light);
        cursor: not-allowed;
    }
}


 @media screen and (min-width: 768px) {
    .filtersForm {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;

    }
    
    .btnContainer {
        align-self: flex-end;
    }
 }

@media screen and (min-width: 1280px) {
    .filtersForm {
        padding: 16px;
        align-items: end;
        background-color: var(--white);
    }
}